<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"


        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.dao.Securitydao">

    <select id="security" resultType="SecurityEntity">
        select * from t_security
    </select>


    <select id="selectdim" resultType="SecurityEntity" parameterType="SecurityEntity">
        select * from t_security WHERE  securityname LIKE "%#{securityname}%"
    </select>


    <insert id="insertsecu" parameterType="SecurityEntity">
        INSERT into t_security(securityname,securitysex,securityage,securityentrytime,securityphone)
        VALUES (#{securityname},#{securitysex},#{securityage},#{securityentrytime},#{securityphone})
    </insert>

    <delete id="delsecu" parameterType="int">
        DELETE  FROM  t_security where securityid=#{securityid}
    </delete>

    <update id="updatesecu" parameterType="SecurityEntity">
        UPDATE  t_security SET securityname=#{securityname},securitysex=#{securitysex},securityage=#{securityage},securityphone=#{securityphone}where securityid=#{securityid}
    </update>



</mapper>